In [23]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [24]:
city_day = pd.read_csv('city_day.csv')

In [25]:
city_day.head(-1)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29525,Visakhapatnam,2020-06-26,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0,Good
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory

In [26]:
city_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [27]:
cleaned_data = city_day.dropna()

In [29]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6236 entries, 2123 to 29529
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        6236 non-null   object
 1   Date        6236 non-null   object
 2   PM2.5       6236 non-null   float64
 3   PM10        6236 non-null   float64
 4   NO          6236 non-null   float64
 5   NO2         6236 non-null   float64
 6   NOx         6236 non-null   float64
 7   NH3         6236 non-null   float64
 8   CO          6236 non-null   float64
 9   SO2         6236 non-null   float64
 10  O3          6236 non-null   float64
 11  Benzene     6236 non-null   float64
 12  Toluene     6236 non-null   float64
 13  Xylene      6236 non-null   float64
 14  AQI         6236 non-null   float64
 15  AQI_Bucket  6236 non-null   object
dtypes: float64(13), object(3)
memory usage: 828.2+ KB

In [30]:
no_of_cities = len(cleaned_data.City.unique())

In [31]:
no_of_cities

9

In [32]:
aqi_buckets = len(cleaned_data.AQI_Bucket.unique())

In [33]:
cleaned_data.AQI_Bucket.unique()

array(['Moderate', 'Poor', 'Very Poor', 'Satisfactory', 'Good', 'Severe'],
      dtype=object)

In [34]:
moderate = cleaned_data.AQI[cleaned_data.AQI_Bucket == 'Moderate']
poor     = cleaned_data.AQI[cleaned_data.AQI_Bucket == 'Poor']
very_poor= cleaned_data.AQI[cleaned_data.AQI_Bucket == 'Very Poor']
satisfactory     = cleaned_data.AQI[cleaned_data.AQI_Bucket == 'Satisfactory']
good = cleaned_data.AQI[cleaned_data.AQI_Bucket == 'Good']
severe     = cleaned_data.AQI[cleaned_data.AQI_Bucket == 'Severe']

In [35]:
moderate.min() , moderate.max()

(101.0, 200.0)

In [36]:
good.min() , good.max()

(23.0, 50.0)

In [37]:
gasses = cleaned_data.select_dtypes(include = np.float64)

In [38]:
gasses

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
2123,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0
2124,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0
2125,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0
2126,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0
2127,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29525,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0
29526,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0
29527,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0
29528,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0
29529,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0

In [39]:
corr = gasses.corr().AQI

In [40]:
corr

PM2.5      0.924028
PM10       0.916576
NO         0.622031
NO2        0.576308
NOx        0.658264
NH3        0.589695
CO         0.494508
SO2        0.254686
O3         0.334609
Benzene    0.207927
Toluene    0.466346
Xylene     0.073873
AQI        1.000000
Name: AQI, dtype: float64

In [41]:
col_to_drop = corr[abs(corr) < 0.45].index

col_to_drop

Index(['SO2', 'O3', 'Benzene', 'Xylene'], dtype='object')

In [42]:
gasses = gasses.drop(columns = col_to_drop)

In [43]:
gasses.corr()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,Toluene,AQI
PM2.5,1.000000,0.895543,0.604239,0.559055,0.618705,0.582025,0.422486,0.475935,0.924028
PM10,0.895543,1.000000,0.633340,0.625172,0.672993,0.585555,0.395632,0.518722,0.916576
NO,0.604239,0.633340,1.000000,0.527426,0.875593,0.432795,0.292911,0.541146,0.622031
NO2,0.559055,0.625172,0.527426,1.000000,0.692273,0.387388,0.231773,0.499104,0.576308
NOx,0.618705,0.672993,0.875593,0.692273,1.000000,0.411122,0.336048,0.596449,0.658264
NH3,0.582025,0.585555,0.432795,0.387388,0.411122,1.000000,0.449340,0.323563,0.589695
CO,0.422486,0.395632,0.292911,0.231773,0.336048,0.449340,1.000000,0.200851,0.494508
Toluene,0.475935,0.518722,0.541146,0.499104,0.596449,0.323563,0.200851,1.000000,0.466346
AQI,0.924028,0.916576,0.622031,0.576308,0.658264,0.589695,0.494508,0.466346,1.000000

In [44]:
gasses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6236 entries, 2123 to 29529
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PM2.5    6236 non-null   float64
 1   PM10     6236 non-null   float64
 2   NO       6236 non-null   float64
 3   NO2      6236 non-null   float64
 4   NOx      6236 non-null   float64
 5   NH3      6236 non-null   float64
 6   CO       6236 non-null   float64
 7   Toluene  6236 non-null   float64
 8   AQI      6236 non-null   float64
dtypes: float64(9)
memory usage: 487.2 KB

In [45]:
y = gasses.AQI
X = gasses.drop(columns = 'AQI')

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting sets
print("\nShapes of the sets:")
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Shapes of the sets:
X_train shape: (4988, 8)
X_test shape: (1248, 8)
y_train shape: (4988,)
y_test shape: (1248,)

In [47]:
y_max = y.max()
y = y/y.max()

print(y_max)

677.0

In [48]:
y.min() , y.max()

(0.033973412112259974, 1.0)

In [49]:
X_max = X.max()
print(X_max)

PM2.5      639.19
PM10       796.88
NO         159.22
NO2        140.17
NOx        224.09
NH3        166.70
CO          16.23
Toluene    103.00
dtype: float64

In [50]:
X = X/X_max

In [52]:
X.min() , X.max()

(PM2.5      0.003129
 PM10       0.009788
 NO         0.001570
 NO2        0.001213
 NOx        0.000759
 NH3        0.000720
 CO         0.000000
 Toluene    0.000000
 dtype: float64,
 PM2.5      1.0
 PM10       1.0
 NO         1.0
 NO2        1.0
 NOx        1.0
 NH3        1.0
 CO         1.0
 Toluene    1.0
 dtype: float64)

In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Linear Regression model
model = LinearRegression()

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Display the model's performance
print("\nModel Evaluation:")
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Model Evaluation:
Mean Squared Error: 0.0014963481061406399
R-squared: 0.9175718290039866